{% if project_codes.rendering %}
	{{ project_codes.rendering }}
{% else %}
	{% if target == "library" %}
		glUseProgram(shibaProgram);
		shibaCheckGlError();
	{% endif %}

	glUniform1fv(0, shibaFloatUniformCount, shibaFloatUniforms);
	shibaCheckGlError();

	shibaDrawScreenRect();
	shibaCheckGlError();
{% endif %}
